@charset "utf-8";

/* fontawsome */
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* Roboto */
@import "@fontsource/roboto"; 
@import "@fontsource/roboto/400.css"; 
@import "@fontsource/roboto/500.css"; 

:root {
    --bulma-family-primary: Roboto, sans-serif;
    --bulma-family-secondary: Roboto:600, sans-serif;
}

